.head{
	width: 100%;
	height: 40px;
	background-color: #333
}

.head-wenzi{
	color: #ccc;
	float: left;
	line-height: 40px;
	 
	font-size: 12px;
	font-family: '苹方','微软雅黑';
	font-weight: normal;
	cursor: pointer;

}
.head-wenzi:hover{
	color:#fff;
}
.head-neikuan{
	width: 1226px;
	height: 40px;
	margin: 0 auto;
}
.head-shuxian{
	float: left;
	color: #424242;
	line-height: 40px;
	font-size: 12px;
	font-family: '苹方','微软雅黑';
	font-weight: lighter;
	margin: 0 6px;
}
.head-left{
	float: left;
}
.head-right{
	float: right;
}
.nav-neikuan{
	width: 1226px;
	height: 100px;
	/* background: pink; */
	margin: 0 auto;
	overflow: hidden;
}
.logo{
	width: 55px;
	height: 55px;
	background: black;
	margin-top: 22.5px;
	float: left;
}
.nav-wenzi{
	float: left;
	margin-left: 190px;
	

}
.nav-font{
	float: left;
	line-height: 100px;
	margin-right: 20px;
	color: #333;
	font-family: '苹方','微软雅黑';
}
.nav-font:hover{
	color: orange;
}
.list{
	width: 1226px;
	height: 170px;
	/* background-color: black; */
	margin: 0 auto;
	margin-top: 14px;
}
.list-tu{
	width: 316px;
	height: 170px;
	background-color: #5f5750;
	float: left;
	transition: all 0.5s linner;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
}
.list-shuxian{
	align-self: center;
}
.list-shuxian2{
	margin-left: 6.5px;
}
.list-shuxian3{
	margin-right: 6.5px;
}

.list-tu1{
	width: 234px;
}
.list-tu2{
	float: right;
}
.list-tu3{
	margin: 0 15px;
}

.list-tu:hover{
	box-shadow: 0 10px 18px 5px rgba(0, 0, 0, 0.1);
}
.danpin{
	width: 1226px;
	height: 438px;
	/* background-color: blue; */
	margin: 0 auto;
	margin-top: 26px;
}
.danpin-top{
	width: 100%;
	height: 58px;
	/* background-color: pink; */
	line-height: 58px;
	font-size: 22px;
	font-weight: 200;
	color: #333;

}
.danpin-right{
	width: 70px;
	height: 25px;
	background-color:blue ;
	float: right; 
	margin-top: 16.5px;
}
.danpin-left{
	float: left; 
}
.danpin-right a{
	width: 33px;
	height: 23px;
	float: left;
	background-color: #fff;
	border: 1px solid #000;
	line-height: 23px;
	text-align: center;
}
.bottom{
	width: 1226px;
	height: 380px;
	/* background-color: skyblue; */
}
.danpin-contant{
	width: 234px;
	height: 300px;
	background-color: #fafafa;
	border-top: 1px solid orangered;
	padding-top: 39px;
	float: left;
	margin-right: 14px;

}
.dinpin-img{
	width: 160px;
	height: 160px;
	/* background-color: seagreen; */
	margin: 0 auto;
	display: block;
}
.danpin-wenzi{
    font-size: 14px;
    font-weight: 400;
    color: #212121;
    display: block;
    margin-top: 22px;
    text-align: center;
}
.danpin-wenzi2{
	font-size: 12px;
	font-weight: normal;
	color: #b0b0b0;
	margin-top: 3px;
	text-align: center;
}
.danpin-wenzi3{
	font-size: 12px;
	font-weight: bold;
	color: red;
	margin-top: 12px;
	text-align: center;
}
.danpin-contant5{
	margin-right: 0;
	border-top-color: blue;
}
.danpin-contant2{
	border-top-color: skyblue;
}
.danpin-contant3{
	border-top-color: seagreen ;
}
.danpin-contant4{
	border-top-color: yellow ;
}
.buy{
	display: block;
	float: right;
	width: 120px;
	height: 40px;
	background-color: #424242;
	margin-left: 12px;
	color: #b0b0b0;
	font-size: 12px;
	line-height: 40px;
	text-align: center;
}
.buy .iconfont{
	font-size: 20px;
}
.buy:hover{
	background-color: #fff;
	color: orangered;
}
.list-icon{
	width: 76px;
	height: 82px;
	background-color: #5f5750;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;

}
.list-icon .iconfont{
	padding: 0 20px;
}
.list-shuxian{
    width: 1px;
	height: 70px;
	background-color: #665e57;
}
.list-shuxian1{
    width: 65px;
	height: 1px;
	background-color: #665e57;
}
.list-icon a{
	color: rgba(255, 255, 255, 0.7);
	font-size: 12px;
}
.list-icon .iconfont{
	font-size: 24px;
}
.list-icon:hover a{
	color: #fff;
} 
.goods{
	width: 100%;
	background-color: #f5f5f5 
}
.jiadian{
	width: 1226px;
	height: 686px;
	margin: 0 auto ;
	/* background-color: blue; */

}
.jiadian-top{
	width: 100%;
	height: 58px;
	/* background: pink; */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.jiadian-wenzi{
	width: 253px;
	/* background-color: #fff; */
	height: 58px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.jiadian-top h2{
	font-size: 22px;
	font-weight: 400;
	color: #333;
}
.jiadian-wenzi a{
    font-size:16px;
    font-weight: bold;
    color:  #333;
    transition: all 0.5s linear;
}
.jiadian-wenzi a:hover,.jiadian-wenzi .jiadian-active{
	color: orangered;
	border-bottom: 2px solid orangered;
}
.jiadian-bottom{
	width: 100%;
	height: 628px;
	/* background-color: seagreen; */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.jiadian-left{
	width: 234px;
	height: 100%;
	/* background-color: pink; */

}
.jiadian-right{
	width: 978px;
	height: 100%;
	/* background-color: blue; */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;

}
.jiadian-item{
	width: 234px;
	height: 300px;
	background-color: white;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
	overflow: hidden;
}
.jiadian-item1{
	width: 64px;
	height: 20px;
	background-color: #e53935;
	font-size: 12px;
	color: #fff;
	text-align: center;
	margin: 0 70px;

}
.jiadian-item2{
	display: block;
	width: 150px;
	height: 156px;
	background-color: #FFF;
	margin-top: 14px;

}
.jiadian-item3{
	font-size: 14px;
	color: #333;
	padding: 0 20px;
}
.jiadian-item4{
	font-size: 12px;
	color: #b0b0b0;
	
}
.jiadian-item5{
	font-size: 14px;
	color: orangered;
	padding: 0 70px;
}
.jiadian-item:nth-child(3) .jiadian-item1{
    background-color: yellowgreen;
}
.jiadian-item:nth-child(4) .jiadian-item1{
    background-color: rgba(0, 0, 0, 0)
}
.jiadian-item:nth-child(5) .jiadian-item1{
    background-color: rgba(0, 0, 0, 0)
}
.jiadian-item:nth-child(6) .jiadian-item1{
    background-color: yellowgreen;
}
.jiadian-item:nth-child(7) .jiadian-item1{
    background-color: rgba(0, 0, 0, 0)
} 
.jiadian-items{
	width: 234px;
	height: 300px;
	/* background-color: pink; */
}

.jiadian-items1{
	width: 100%;
	height: 93px;
	background-color: white;
	padding-top: 50px;
}
.jiadian-items1:nth-child(2){
	margin-top: 14px;
}
.jiadian-items2{
	width: 50%;
	float:left;
	text-align: center;
}
.jiadian-items2 .jiadian-item5{
	padding: 0;
}
.jiadian-items3{
	width: 80px;
	height: 80px;
	/* background-color: #000; */
	float: right;
	margin-right: 10px;
}
.jiadian-items1:nth-child(2) .jiadian-item3{
	font-size: 18px;
}
.jiadian-zhineng{
	width: 100%;
}
.zhineng .jiadian-item:nth-child(2) .jiadian-item1,.zhineng .jiadian-item:nth-child(3) .jiadian-item1,.zhineng .jiadian-item:nth-child(4) .jiadian-item1,.zhineng .jiadian-item:nth-child(5) .jiadian-item1 {
	background-color: yellowgreen;
}
.zhineng .jiadian-item:nth-child(8) .jiadian-item1,.zhineng .jiadian-item:nth-child(9) .jiadian-item1{
	background-color: rgba(0, 0, 0, 0);
}
.dapei .jiadian-item:nth-child(3) .jiadian-item1,.dapei .jiadian-item:nth-child(4) .jiadian-item1,.dapei .jiadian-item:nth-child(5) .jiadian-item1,.dapei .jiadian-item:nth-child(8) .jiadian-item1,.dapei .jiadian-item:nth-child(9) .jiadian-item1{
	background-color: rgba(0, 0, 0, 0);

}
.zhoubian .jiadian-item:nth-child(2) .jiadian-item1,.zhoubian .jiadian-item:nth-child(3) .jiadian-item1,.zhoubian .jiadian-item:nth-child(5) .jiadian-item1{
	background-color: yellowgreen;
}
.zhoubian .jiadian-item:nth-child(8) .jiadian-item1,.zhoubian .jiadian-item:nth-child(9) .jiadian-item1{
	background-color: rgba(0, 0, 0, 0);
}
.jiadian-item{
	transition: all 0.3s linear;
}
.jiadian-item:hover,.jiadian-items1:hover,.jiadian-left:hover,.danpin-contant:hover, .video-item:hover{
	box-shadow: 0px 10px 18px 5px rgba(0, 0, 0, 0.2);
	transform: translateY(-5px);
}
.jiadian-items1,.danpin-contant, .video-item{
	transition: all 0.3s linear;
}
.jiadian-left:hover{
	transition: all 0.3s linear;
}
.jiadian-item6{
	width: 100%;
	height: 80px;
	background-color: orangered;
	position: absolute;
	bottom: -80px;
	transition: all 0.2s linear;
}
.jiadian-item:hover .jiadian-item6{
	bottom: 0px;
}
.shuoming{
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	color: #fff;
	line-height: 80px;
}
.tuijian{
   height: 378px;

}
.tuijian-bottom{
	height: 320px;
	width: 100%;
}
.tuijian-bottom .danpin-contant{
    border: 0;
    height: 280px;
    background-color: #fff;

}
.video{
	width: 1226px;
	height: 343px;
	/* background-color: #fff; */
	margin: 0 auto;
	margin-top: 22px;


}
.video-right{
	width: 90px;
	float: right;
	height: 100%;

}
.video-right a{
	font-size: 14px;
	color: #333

}
.video-bottom{
	width: 100%;
	height: 285px;
 /*    background-color: black; */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.video-item{
	width: 296px;
	height: 100%;
    background-color: #fff;
}
.video-item1{
	width: 100%;
	height: 180px;
	/* background-color: skyblue; */
	position: relative;
}
.video-item1 .play{
	position: absolute;
	left: 20px;
	bottom: 10px;
	font-size: 30px;
}
.video-item2{
	font-size: 14px;
	color: #424242;
	display: block;
	text-align: center;
	margin-top: 28px;

}
.video-item3{
	font-size: 14px;
	color: #b0b0b0;
	display: block;
	text-align: center;
	margin-top: 6px;
	
}